.auth-container {
  
  height: auto;
  width: 100%;
  max-width: 400px;
  margin: 80px auto;
  border: 1px solid #ccc;
  padding: 20px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.auth-container input {
  width: 100%;
  padding: 8px;
  margin-top: 10px;
}

.auth-container button {
  width: 100%;
  padding: 8px;
  margin-top: 15px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

.auth-container button:hover {
  background: #ff0000;
}
