.navbar {
  background: black;
  color: white;
  padding: 10px;
  top: 0;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.navbar button {
  background: red;
  color: white;
  border: none;
  padding: 5px 10px;
}

.dashboard {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  padding: 20px;
  width: 150px;
  text-align: center;
}
